*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: skyblue;
    font-family: "Roboto Slab", Verdana, Geneva, Tahoma, sans-serif;
}

.one {
    display:grid;
    background: lightgrey;
    max-width: 1000px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px 100px;
    gap: 1rem;
    margin: 50px auto;
}

.item {
    background: white;
}

.item:first-child {
    background: green;
    grid-column: 1 / span 4;
}

.item:nth-child(2) {
    background: blue;
    grid-column: 1/ span 1;
    grid-row: 2 / span 2;
}

.item:last-child {
        background: yellow;
        grid-column: 1 / 5;
}

/*Harjoitus 2*/

.two {
    max-width: 1000px;
    margin: 50px auto;
    gap: 0.4rem;
    display: grid;
    grid-template-areas: 
    "top top top top top"
    "left content content content right"
    "left content content content right"
    "left content content content right"
    "bottom bottom bottom bottom bottom"
    ;
    grid-auto-rows: 1fr;
}

header {
    grid-area: top;
    background: green;
    padding: 1rem;
    min-height: 100px;
}

.left {
grid-area: left;
background: pink;
padding: 1rem;
}

main {
    grid-area: content;
    background: yellowgreen;
    padding: 1rem;
}

Aside {

    grid-area: right;
    background: lightblue;
    padding: 1rem;
}

footer {
    grid-area: bottom;
    background: red;
    padding: 1rem
}